# Datos sintéticos

Uno de los mayores problemas a la hora de emplear datos empresariales es disponer de suficientes garantías de anonimato en caso de disponer de datos personales. En líneas generales, los datos sintéticos nos permiten entrenar generadores que pueden generar conjuntos de datos que presentan las mismas estadísticas que los datos originales siendo plenamente artificiales.

* Web: https://sdv.dev/
* Documentación: https://docs.sdv.dev/sdv

In [2]:
# !pip install sdv

In [3]:
from sdv.datasets.demo import download_demo

real_data, metadata = download_demo(
    modality='single_table',
    dataset_name='fake_hotel_guests'
)
real_data.head()

,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,michaelsanders@shaw.net,False,BASIC,37.89,27 Dec 2020,29 Dec 2020,131.23,"49380 Rivers Street\nSpencerville, AK 68265",4075084747483975747
1,randy49@brown.biz,False,BASIC,24.37,30 Dec 2020,02 Jan 2021,114.43,"88394 Boyle Meadows\nConleyberg, TN 22063",180072822063468
2,webermelissa@neal.com,True,DELUXE,0.00,17 Sep 2020,18 Sep 2020,368.33,"0323 Lisa Station Apt. 208\nPort Thomas, LA 82585",38983476971380
3,gsims@terry.com,False,BASIC,NaN,28 Dec 2020,31 Dec 2020,115.61,"77 Massachusetts Ave\nCambridge, MA 02139",4969551998845740
4,misty33@smith.biz,False,BASIC,16.45,05 Apr 2020,NaN,122.41,"1234 Corporate Drive\nBoston, MA 02116",3558512986488983

In [4]:
metadata.visualize()

In [5]:
from sdv.single_table import CTGANSynthesizer

synthesizer = CTGANSynthesizer(metadata)

In [6]:
synthesizer.fit(
    data=real_data
)

In [7]:
synthetic_data = synthesizer.sample(
    num_rows=500
)

synthetic_data.head()

,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,dsullivan@example.net,True,BASIC,12.70,19 Apr 2020,04 Dec 2020,105.86,"90469 Karla Knolls Apt. 781\nSusanberg, CA 70033",5161033759518983
1,steven59@example.org,False,BASIC,6.60,03 Jul 2020,16 Oct 2020,89.52,"6108 Carla Ports Apt. 116\nPort Evan, MI 71694",4133047413145475690
2,brandon15@example.net,False,BASIC,28.62,30 Nov 2020,06 Sep 2020,101.99,86709 Jeremy Manors Apt. 786\nPort Garychester...,4977328103788
3,humphreyjennifer@example.net,False,BASIC,6.17,01 Dec 2020,22 Jun 2020,114.20,"8906 Bobby Trail\nEast Sandra, NY 43986",3524946844839485
4,joshuabrown@example.net,False,SUITE,10.18,18 Mar 2020,12 Mar 2020,95.63,"732 Dennis Lane\nPort Nicholasstad, DE 49786",4446905799576890978

In [8]:
from sdv.evaluation.single_table import run_diagnostic

diagnostic = run_diagnostic(
    real_data=real_data,
    synthetic_data=synthetic_data,
    metadata=metadata
)

Generating report ...

(1/2) Evaluating Data Validity: |██████████| 9/9 [00:00<00:00, 1476.93it/s]|
Data Validity Score: 100.0%

(2/2) Evaluating Data Structure: |██████████| 1/1 [00:00<00:00, 642.61it/s]|
Data Structure Score: 100.0%

Overall Score (Average): 100.0%

In [9]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    real_data,
    synthetic_data,
    metadata
)

Generating report ...

(1/2) Evaluating Column Shapes: |██████████| 9/9 [00:00<00:00, 1265.46it/s]|
Column Shapes Score: 79.64%

(2/2) Evaluating Column Pair Trends: |██████████| 36/36 [00:00<00:00, 799.65it/s]|
Column Pair Trends Score: 77.86%

Overall Score (Average): 78.75%

In [10]:
quality_report.get_details('Column Shapes')

          Column        Metric     Score
0    has_rewards  TVComplement  0.838000
1      room_type  TVComplement  0.770000
2  amenities_fee  KSComplement  0.833855
3   checkin_date  KSComplement  0.844000
4  checkout_date  KSComplement  0.856250
5      room_rate  KSComplement  0.636000

In [11]:
sensitive_column_names = ['guest_email', 'billing_address', 'credit_card_number']

real_data[sensitive_column_names].head(3)

,guest_email,billing_address,credit_card_number
0,michaelsanders@shaw.net,"49380 Rivers Street\nSpencerville, AK 68265",4075084747483975747
1,randy49@brown.biz,"88394 Boyle Meadows\nConleyberg, TN 22063",180072822063468
2,webermelissa@neal.com,"0323 Lisa Station Apt. 208\nPort Thomas, LA 82585",38983476971380

In [12]:
synthetic_data[sensitive_column_names].head(3)

,guest_email,billing_address,credit_card_number
0,dsullivan@example.net,"90469 Karla Knolls Apt. 781\nSusanberg, CA 70033",5161033759518983
1,steven59@example.org,"6108 Carla Ports Apt. 116\nPort Evan, MI 71694",4133047413145475690
2,brandon15@example.net,86709 Jeremy Manors Apt. 786\nPort Garychester...,4977328103788

In [14]:
synthesizer.save('modelos/my_synthesizer.pkl')

### Con datos nuestros

Probemos como resultaría con datos con los que hemos trabajado antes...

In [16]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
from sdv.metadata import Metadata

metadata = Metadata.detect_from_dataframe(
    data=titanic,
    table_name='titanic')

metadata.visualize()

In [18]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata)
synthesizer.fit(titanic)

/home/iraitz/TheBridge/B2B/Clientes/STEMIA/STEMIA/.venv/lib/python3.12/site-packages/sdv/single_table/base.py:134: UserWarning:

We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.

In [19]:
fake_titanic = synthesizer.sample(num_rows=100)
fake_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,4326007,0,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,39.11,0,0,2626,73.2513,D37,S
1,4069891,0,3,"Niskanen, Mr. Juha",male,29.45,0,0,A/5 2817,4.6504,NaN,S
2,2697777,0,2,"Betros, Mr. Tannous",male,38.61,1,0,113806,6.7210,NaN,S
3,10119885,1,3,"Parkes, Mr. Francis ""Frank""",male,28.06,0,2,347082,27.8694,NaN,C
4,4368626,0,1,"Oreskovic, Miss. Marija",male,NaN,0,0,230136,10.5493,NaN,S

In [20]:
from sdv.single_table import TVAESynthesizer

synthesizer = TVAESynthesizer(metadata)
synthesizer.fit(titanic)

synthesizer.sample(num_rows=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,4326007,0,3,"Sjoblom, Miss. Anna Sofia",male,27.58,0,0,350406,8.4547,NaN,S
1,4069891,1,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,29.10,0,0,350406,13.0164,NaN,S
2,2697777,0,3,"Hanna, Mr. Mansour",male,30.11,0,0,2693,6.2327,NaN,S
3,10119885,0,2,"Otter, Mr. Richard",male,37.73,0,0,S.O./P.P. 3,11.6296,NaN,S
4,4368626,0,3,"Tornquist, Mr. William Henry",male,NaN,0,0,LINE,5.8533,NaN,S
5,11641463,0,2,"Harper, Rev. John",male,NaN,0,0,S.C./PARIS 2079,31.5741,NaN,S
6,7214272,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",male,40.62,0,0,PC 17760,46.8405,NaN,C
7,9787275,0,2,"Jerwan, Mrs. Amin S (Marie Marthe Thuillard)",male,49.52,0,0,248733,12.5576,NaN,S
8,4599517,1,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,24.89,0,0,A/5. 3336,23.6312,NaN,S
9,1953199,0,1,"Partner, Mr. Austen",male,47.79,0,0,PC 17605,26.5217,NaN,S

In [21]:
from sdv.sampling import Condition

low_class_male = Condition(
    num_rows=10,
    column_values={'Pclass': 3, 'Sex': 'male'}
)

high_class_female = Condition(
    num_rows=10,
    column_values={'Pclass': 1, 'Sex': 'female'}
)

synthetic_data = synthesizer.sample_from_conditions(
    conditions=[low_class_male, high_class_female],
)

Sampling conditions: 100%|██████████| 20/20 [00:00<00:00, 69.34it/s]

In [22]:
synthetic_data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,8813137,0,3,"Dahlberg, Miss. Gerda Ulrika",male,21.55,0,0,7552,6.0707,NaN,S
1,5689686,0,3,"Gustafsson, Mr. Anders Vilhelm",male,20.34,0,0,54636,10.0806,NaN,S
2,13958546,0,3,"Novel, Mr. Mansouer",male,29.04,0,0,2686,7.5511,NaN,S
3,1979185,0,3,"Zimmerman, Mr. Leo",male,29.12,0,0,315082,9.9476,NaN,S
4,12788949,0,3,"Strandberg, Miss. Ida Sofia",male,NaN,0,0,W/C 14208,9.6567,NaN,S
5,14651591,0,3,"Betros, Mr. Tannous",male,29.38,0,0,2641,2.4763,NaN,S
6,11976585,0,3,"Pernot, Mr. Rene",male,29.34,0,0,1601,1.9775,NaN,S
7,15004663,0,3,"Harrison, Mr. William",male,31.29,0,0,112059,6.0651,NaN,S
8,5598573,1,3,"Dahl, Mr. Karl Edwart",male,30.54,0,0,250655,5.6133,NaN,S
9,1832097,0,3,"Danbom, Mr. Ernst Gilbert",male,3.89,1,1,347080,12.1305,NaN,S
10,8021813,1,1,"Minahan, Miss. Daisy E",female,29.95,0,0,19928,36.7148,NaN,C
11,13636051,1,1,"Minahan, Miss. Daisy E",female,52.73,0,0,110152,37.1283,NaN,S
12,1367180,1,1,"Leader, Dr. Alice (Farnham)",female,50.67,0,0,13507,22.6110,NaN,S
13,4343376,1,1,"Barber, Miss. Ellen ""Nellie""",female,41.18,0,0,PC 17758,79.7702,NaN,C
14,4817972,1,1,"Laroche, Mr. Joseph Philippe Lemercier",female,21.42,1,1,SC/Paris 2123,34.5411,NaN,C
15,15717649,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,NaN,0,0,PC 17477,66.2106,NaN,C
16,5863169,1,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,NaN,1,2,113781,149.4848,NaN,S
17,1585412,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,41.04,1,0,19943,69.5563,NaN,C
18,9305189,1,1,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,28.67,1,1,PC 17758,63.4102,NaN,S
19,4914892,1,1,"Fortune, Mr. Mark",female,NaN,0,1,19950,89.1339,NaN,S

In [23]:
synthesizer = TVAESynthesizer(metadata, embedding_dim=256)
synthesizer.fit(titanic)

In [24]:
synthesizer.sample_from_conditions(
    conditions=[low_class_male, high_class_female],
)

Sampling conditions: 100%|██████████| 20/20 [00:01<00:00, 13.29it/s]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,5379668,0,3,"Zabour, Miss. Thamine",male,NaN,0,0,2651,13.0618,NaN,S
1,5598573,0,3,"Dorking, Mr. Edward Arthur",male,28.27,0,0,SOTON/O.Q. 392087,7.1153,NaN,S
2,6563532,0,3,"Moran, Miss. Bertha",male,NaN,0,0,371110,7.4779,NaN,S
3,811273,0,3,"Cunningham, Mr. Alfred Fleming",male,30.57,0,0,239853,3.7833,NaN,S
4,11233134,0,3,"Strandberg, Miss. Ida Sofia",male,29.92,0,0,S.O./P.P. 3,10.0791,NaN,S
5,10424967,1,3,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",male,30.42,0,0,237736,26.5170,NaN,S
6,841731,0,3,"Theobald, Mr. Thomas Leonard",male,38.79,0,0,349249,7.7762,NaN,S
7,12874359,0,3,"Pain, Dr. Alfred",male,39.85,0,0,11668,8.7170,NaN,S
8,3720171,0,3,"Harrison, Mr. William",male,NaN,0,0,1601,5.1400,NaN,S
9,7646992,0,3,"Pain, Dr. Alfred",male,28.87,0,0,1601,22.2258,NaN,S
10,4077427,1,1,"Madill, Miss. Georgette Alexandra",female,19.63,1,2,24160,86.0032,NaN,S
11,14426354,1,1,"Natsch, Mr. Charles H",female,21.20,0,0,S.O.C. 14879,28.1750,NaN,S
12,1406802,1,1,"Hoyt, Mr. William Fisher",female,30.91,0,0,S.O.C. 14879,36.8667,NaN,S
13,6088767,1,1,"Serepeca, Miss. Augusta",female,25.23,0,0,S.O.C. 14879,33.3345,NaN,S
14,6301410,1,1,"Harder, Mr. George Achilles",female,20.45,1,0,237736,52.1220,NaN,C
15,6044222,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,21.15,1,2,113781,151.8086,C22 C26,S
16,1106079,1,1,"Taussig, Mr. Emil",female,24.10,1,2,19950,32.3607,NaN,S
17,439637,1,1,"Seward, Mr. Frederic Kimber",female,30.96,0,0,PC 17611,24.6812,NaN,S
18,5912149,1,1,"Cairns, Mr. Alexander",female,54.18,0,0,S.O.C. 14879,30.7554,NaN,S
19,8260405,1,1,"Bowerman, Miss. Elsie Edith",female,30.41,1,0,237736,56.5657,NaN,S